
*.png
Library/PackageManager/ProjectCache
Library/PackageManager/ProjectCache.md5
Library/SceneVisibilityState.asset
Library/SourceAssetDB
Library/StateCache/MainStageHierarchy/4d/4d2a36d9faf65734f0bbefb3ee623532.json
Library/StateCache/SceneView/e1/e1482977de1408cfacceccb8481e20fa.json
Logs/AssetImportWorker0-prev.log
Logs/AssetImportWorker0.log
Logs/AssetImportWorker1-prev.log
Logs/AssetImportWorker2-prev.log
Logs/AssetImportWorker3-prev.log
Logs/shadercompiler-AssetImportWorker0.log
Library/CurrentMaximizeLayout.dwlt
Library/ArtifactDB
Assets/Test.asset.meta
Assets/Test.asset
Library/PackageManager/ProjectCache
Library/PackageManager/ProjectCache.md5
Library/SceneVisibilityState.asset
Library/SourceAssetDB
Library/StateCache/MainStageHierarchy/4d/4d2a36d9faf65734f0bbefb3ee623532.json
Library/StateCache/SceneView/e1/e1482977de1408cfacceccb8481e20fa.json
Logs/AssetImportWorker0-prev.log
Logs/AssetImportWorker0.log
Logs/AssetImportWorker1-prev.log
Logs/AssetImportWorker2-prev.log
Logs/AssetImportWorker3-prev.log
Logs/shadercompiler-AssetImportWorker0.log
Library/CurrentMaximizeLayout.dwlt
Library/ArtifactDB
Assets/Test.asset.meta
Assets/Test.asset
Temp/UnityLockfile
